$white: #fff;
$purple: #cd9ff8;
$hard-purple: #7427bd;
$button-purple: #9673ed;
$black: #000;
$grey: #d9cdfa;
$light-grey: #f6f6f6;
$grey-bg: #f7f4ff;
$aqua: #eff1ff;
$geo-big: #edf6ff;
$geo-hover: #faedf7;
$traffic-bg: #f6efff;
$map-bg: #fbfcf6;
$footer-bg: #865cf1;
